body {
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
}

h1 {
    color: blue;
    text-align: center;
}

h2 {
    text-align: center;
    background-color: blue;
    width: 100%;

}

h3 {
    text-align: center;
}

.container {
    width: 400px;
    margin: 20px auto;
    border: 1px solid white;
    padding: 10px;
    
}

.input {
    width: 100%;
    margin-bottom: 10px;
}

.button {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 5px;
}

.output {
    width: 100%;
    margin-top: 10px;
    border: 1px solid white;
    padding: 5px;
}
